#board{
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    background-color: var(--color-line);
    animation: board .3s linear;
}
.cell{
    background-color: var(--color-back);
}

@keyframes board {
    from{
        clip-path: inset(50% 50% 50% 50%);
    }
    to{
        clip-path: inset(100% 100% 100% 100%);
    }
}


